In [20]:
import matplotlib.pyplot as plt
import pandas as pd 

# Read in the data
data = pd.read_excel('PFI_2025_ex1_data.xlsx')
# Data types:
# TransportType: {1,2,4,6} (1=walk, 2=bike, 4=car, 6=pulic transport)

# Variables in the data
# UniqueID: int
# Gender: {1, 2}
# Age: int
# Mode: TransportType
# Distance: float
# Alternative: TransportType
# TravelCost: float
# choice: TransportType

# TT{N} (eg. TT1): Travel time for mode N
# TC{N} (eg. TC1): Travel cost for mode N
data


import statsmodels.api as sm

# Add an intercept
data['intercept'] = 1

# Create dummy variables for the mode
data = pd.get_dummies(data, columns=['Mode'], drop_first=True) 
# By dropping the first column we avoid the dummy variable trap setting walking as the reference category
# We can thus think of Mode_2 as how much more biking is preffered to walking.

data

,UniqueID,Gender,Age,PersonalIncome,Distance,Alternative,TravelCost,TT1,TT2,TT4,TT6,TC1,TC2,TC4,TC6,choice,intercept,Mode_2,Mode_4,Mode_6
0,1,2,29,175,6.0,4,14.862581,99.083871,45.731017,8.657202,29.08,1.981677,3.963355,14.862581,15.544,4,1,False,True,False
1,2,2,56,100,1.0,1,0.657769,32.888431,15.679276,6.933265,10.00,0.657769,1.315537,5.933265,13.000,1,1,False,False,False
2,3,1,19,25,21.0,6,20.392000,241.280798,111.360368,26.908985,65.44,4.825616,9.651232,36.192120,20.392,6,1,False,False,True
3,4,1,40,200,1.0,4,3.359966,22.399774,10.338357,3.452885,15.45,0.447995,0.895991,3.359966,13.720,4,1,False,True,False
4,7,1,36,275,3.0,4,3.681248,24.541652,11.326916,4.383603,13.01,0.490833,0.981666,3.681248,13.398,4,1,False,True,False
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
4192,4846,2,46,125,4.5,4,3.222363,21.482423,9.914964,3.305773,15.84,0.429648,0.859297,3.222363,13.772,4,1,False,True,False
4193,4847,1,42,800,8.0,4,2.830194,18.867963,8.708291,2.555804,12.52,0.377359,0.754719,2.830194,13.336,4,1,False,True,False
4194,4848,1,50,350,13.0,4,12.961411,86.409407,39.881265,9.756979,33.97,1.728188,3.456376,12.961411,16.196,4,1,False,True,False
4195,4849,2,46,125,4.5,4,3.222363,21.482423,9.914964,3.305773,15.84,0.429648,0.859297,3.222363,13.772,4,1,False,True,False
4196,4850,1,50,350,1.7,4,4.720820,24.805466,11.948677,5.720820,10.00,0.496109,0.992219,4.720820,13.000,4,1,False,True,False

In [23]:
# Implementing the first logic models based on the linear utility function
# V(n,i) = k_i + a * cost(n,i) + b * time(n,i)
# where n 

X1 = data[['intercept', 'TravelCost', 'TT2', 'TT4', 'TT6']]
y1 = data['choice']
model1 = sm.MNLogit(y1, sm.add_constant(X1)).fit()
print(model1.summary())

Optimization terminated successfully.
         Current function value: nan
         Iterations 8
                          MNLogit Regression Results
==============================================================================
Dep. Variable:                 choice   No. Observations:                 4197
Model:                        MNLogit   Df Residuals:                     4182
Method:                           MLE   Df Model:                           12
Date:                Sun, 16 Mar 2025   Pseudo R-squ.:                     nan
Time:                        13:52:01   Log-Likelihood:                    nan
converged:                       True   LL-Null:                       -4625.7
Covariance Type:            nonrobust   LLR p-value:                       nan
==============================================================================
  choice=2       coef    std err          z      P>|z|      [0.025      0.975]
------------------------------------------------------------------------------
intercept         nan        nan        nan        nan         nan         nan
TravelCost        nan        nan        nan        nan         nan         nan
TT2               nan        nan        nan        nan         nan         nan
TT4               nan        nan        nan        nan         nan         nan
TT6               nan        nan        nan        nan         nan         nan
------------------------------------------------------------------------------
  choice=4       coef    std err          z      P>|z|      [0.025      0.975]
------------------------------------------------------------------------------
intercept         nan        nan        nan        nan         nan         nan
TravelCost        nan        nan        nan        nan         nan         nan
TT2               nan        nan        nan        nan         nan         nan
TT4               nan        nan        nan        nan         nan         nan
TT6               nan        nan        nan        nan         nan         nan
------------------------------------------------------------------------------
  choice=6       coef    std err          z      P>|z|      [0.025      0.975]
------------------------------------------------------------------------------
intercept         nan        nan        nan        nan         nan         nan
TravelCost        nan        nan        nan        nan         nan         nan
TT2               nan        nan        nan        nan         nan         nan
TT4               nan        nan        nan        nan         nan         nan
TT6               nan        nan        nan        nan         nan         nan
==============================================================================

/home/mbg/.local/lib/python3.10/site-packages/statsmodels/discrete/discrete_model.py:3027: RuntimeWarning: overflow encountered in exp
  eXB = np.column_stack((np.ones(len(X)), np.exp(X)))
/home/mbg/.local/lib/python3.10/site-packages/statsmodels/discrete/discrete_model.py:3028: RuntimeWarning: invalid value encountered in divide
  return eXB/eXB.sum(1)[:,None]